<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.2.1" package="com.tipfom.timetitan" android:installLocation="auto">
	<uses-feature android:glEsVersion="0x00020000" />
	<uses-sdk android:minSdkVersion="16" />
	<!-- We need to be able to download map tiles and access Google Play Services-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- We need to be able to get access to the accounts on the device for Google Play Services-->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Time Titan" android:icon="@drawable/icon" android:hardwareAccelerated="true" android:allowBackup="true">
		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<meta-data android:name="android.max_ascept" android:value="2.1" />
	</application>
</manifest>